/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/barlow-regular.eot'); /* IE9 Compat Modes */
    src: local('Barlow Regular'), local('Barlow-Regular'),
         url('/fonts/barlow-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/barlow-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/barlow-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/barlow-regular.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  /* barlow-bold - latin */
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/barlow-bold.eot'); /* IE9 Compat Modes */
    src: local('Barlow Bold'), local('Barlow-Bold'),
         url('/fonts/barlow-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/barlow-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/barlow-bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/barlow-bold.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  /* barlow-italic - latin */
  @font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/barlow-italic.eot'); /* IE9 Compat Modes */
    src: local('Barlow Italic'), local('Barlow-Italic'),
         url('/fonts/barlow-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/barlow-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/barlow-italic.woff') format('woff'), /* Modern Browsers */
         url('/fonts/barlow-italic.ttf') format('truetype'); /* Safari, Android, iOS */
  }